.first-panel
{
    flex-direction: column;
    align-items: center;
}
.second-panel
{
    flex-direction: column;
    align-items: center;
}
.third-panel
{
    flex-direction: column;
    align-items: center;
}
.anime-info
{
    width: 60%;
}
.slider
{
    width: 60%;
}