body {
    background: rgb(var(--color-background));
    font-family: Helvetica,sans-serif;
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
:root {
    --color-text: 92,114,138;
    --color-text-bright: 237,241,245;
    --color-background: 237,241,245;
    --color-background-100: 251,251,251;
    --color-background-200: 237,241,245;
    --color-shadow-blue: 103,132,187;
    --color-blue-500: 111,200,255;
    --color-gray-400: 201,215,227;
    --color-gray-500: 173,192,210;
    --color-gray-900: 81,97,112;
    --color-background-900: 81,97,112;

}
a {
    text-decoration: none;
    transition: .15s;
    outline: 0;
    color: #bcbedc;
}
/* 
    Top navigation
*/
.top-nav {
    display: flex;
    height: 70px;
    justify-content: center;
    left: 0;
    top: 0;
    background: #2b2d42;
    color: #bcbedc;
    width: 100%;
}

.nav-wrap {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1050px;
    width: 100%;
}

.logo img {
    height: 50px;
    width: 50px;
}

.nav-links {
    align-items: center;
    display: inline-flex;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
}

.link {
    letter-spacing: .01em;
    padding: 18px 16px;
    font-size: 0.9rem;
    font-weight: 600;
}

.login {
    margin-left: 70px;
    padding-right: 24px;
}

.signUp {
    background: #3577ff;
    border-radius: 6px;
    box-shadow: 0 0 0 rgba(8,150,230,.6);
    color: white;
    font-size: 0.9rem;
    font-weight: 800;
    margin-right: -70px;
    padding: 10px 15px;
}
/*
    Future card
*/
.wrap {
    margin-top: 50px;
    background: rgb(var(--color-background-200));
}

.landing {
    background: #0a1625;
    border-radius: 20px;
    font-family: Helvetica ;
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 1100px;
    overflow: visible;
    padding: 60px 80px;
    width: 100%;
    color: rgb(var(--color-text-bright));
}

.heading {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

.sub-heading {
    font-size: 1.5rem;
    line-height: 142%;
    color: #acd5f2;
    text-align: center;
}

.feature-cards {
    display: grid;
    grid-gap: 70px 60px;
    grid-template-columns: repeat(2,minmax(300px, 400px));
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 85px;
}

.feature-card {
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 40px;
    align-items: center;
}

.feature-card span{
    font-size: 14px;
    font-weight: 300;
    color: #acd5f2;
}

/* Join-in btn in future card */
.join-btn {
    align-items: center;
    background: #3577ff;
    border-radius: 30px;
    box-shadow: 0 2px 40px rgba(0,0,0,.4);
    display: grid;
    grid-template-columns: auto 38px;
    height: 49px;
    padding-left: 20px;
    padding-right: 7px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: -78px;
    transition: 0.4s;
}
.join-btn:hover {
    box-shadow: 0 2px 40px  #3577ff ;
}
.join-btn .label {
    color: #f7fafc;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}
.join-btn .circle {
    background: #d9e6ff;
    color: #3577ff;
    font-size: 1.5rem;
    height: 37px;
    padding-left: 3px;
    width: 37px;
}

.circle {
    align-items: center;
    border-radius: 50%;
    display: grid;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}
.circle svg {
    width: 0.625em;
}

/*
    Search section 
*/
.search {
    background: rgb(var(--color-background-200));
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    min-width: 320px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1140px;
    width: 100%;
}

.filters-wrap {
    display: grid;
    grid-template-columns: auto 42px;
    align-items: center;
}

.filters {
    margin: 40px 0;
    margin-bottom: 25px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(5,170px)
}

.name {
    color: rgb(var(--color-gray-900));
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
}

.search-wrap {
    background: rgb(var(--color-background-100));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.1),0 4px 4px rgba(var(--color-shadow-blue),.04);
    display: grid;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    height: 38px;
    grid-gap: 10px;
    grid-template-columns: 13px auto 13px;
    letter-spacing: .03rem;
    padding: 11px 16px;
    padding-left: 13px;
}

.search-input {
    background: 0 0;
    border: none;
    color: rgb(var(--color-gray-700));
    display: inline-block;
    font-family: Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}

.select {
    align-items: center;
    background: rgb(var(--color-background-100));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.1),0 4px 4px rgba(var(--color-shadow-blue),.04);
    cursor: pointer;
    display: grid;
    height: 38px;
    font-size: 1.3rem;
    font-weight: 600;
    grid-template-columns: auto 20px;
    letter-spacing: .03rem;
    padding: 11px 16px;
}

.value-wrap {
    position: relative;
    max-height: 14px;
}

.placeholder {
    position: absolute;
    font-size: 14px;
    color: rgb(var(--color-gray-500));
}

.filter {
    background: 0 0;
    border: none;
    color: rgb(var(--color-gray-700));
    display: inline-block;
    font-family:Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}

.filters .svg-inline--fa {
    color: rgb(var(--color-gray-400));
    cursor: pointer;
    font-size: 1.6rem;
    transition: color .2s ease;
    width: 0.5em;
}

.extra-filters-wrap {
    position: relative;
    font-family:Helvetica, sans-serif;
    margin: 50px 0;
    margin-bottom: 25px;
    height: 75px;
}

.open-btn {
    align-items: center;
    background: rgb(var(--color-background-100));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
    color: rgb(var(--color-gray-500));
    cursor: pointer;
    display: inline-flex;
    font-size: 1.8rem;
    height: 38px;
    justify-content: center;
    margin-top: 37px;
    width: 38px;
    transition: color .3s ease-in-out;
}

.open-btn svg{
    overflow: visible;
    width: 0.8em;
    display: inline-block;
    font-size: inherit;
    height: 0.8em;
    vertical-align: -0.125em;
    color: rgb(var(--color-gray-500));
    cursor: pointer;
}