html{
    background-color:#131313;
}

body{
    margin-top: 0;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #222;
    color: #76008A;
}


.top-bar{
    background-color: black;
    display:flex;
    justify-content: space-between;
    margin: auto;
    
}
.menu{
    height: 31px;
    width: 31px;
    background-color:#76008A;
    padding: 5px;
    float: left;
}
nav{
    float: right;  
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 100px;
    padding-top: 5px;
}
.top-bar--user{
    display: flex;
}
.search-button:before{
    content: "\f002";
}
.top-bar--user .login-button {
    position: relative;
    background: #868986;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    margin: 3px 10px 0;
    
}
header::after{
    content: '';
    display: table;
    clear: both;
}


.age-veryfication{
    text-align: center;
}
section{
    background-color: #222;
}
.box-new-series{
    box-sizing: border-box;
}
.box{
    position: relative;
    overflow: hidden;
    padding: 0 5px 5px;
    border-radius: 5px;
    background-clip: padding-box;
}
.box-title-new-series{
    text-align: center;
    text-transform: uppercase;
    font-family: comfortaa,cursive;
    letter-spacing: 1px;
    margin: 3px 0; 
}
.new-series-row::before{
    content: "";
    display: table;
    clear: both;   
}
.upcoming-premiere-photo{
    float: left;
}
.new-series-row::after{
    content: "";
    display: table;
    clear: both;
}

.box-best-rate{
    box-sizing: border-box;
}
.box{
    position: relative;
    overflow: hidden;
    padding: 0 5px 5px;
    border-radius: 5px;
    background-clip: padding-box;
}
.box-title-best-rate{
    text-align: center;
    text-transform: uppercase;
    font-family: comfortaa,cursive;
    letter-spacing: 1px;
    margin: 3px 0; 
}
.best-rate-row::before{
    content: "";
    display: table;
    clear: both;   
}

.best-rate-row::after{
    content: "";
    display: table;
    clear: both;
}



main footer {
    display: block;
    flex-direction: column;
    background-color :#76008A;
    color: white
}
