section,
html{
    background-color:#131313;
    color: #76008A;
}
body{
    background-color: #222;
}
header{
    display: block;
    height: auto;
    width: auto;
    background-color: black;
}
#home-photo{
    width: 14px;
    height: 14px;
    background-color:#76008A;
    padding: 10px;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    height: auto;
    width: auto;
}
#panel div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
#new-premiere-photo{
    height: 268px;
    width: 188px;

}
#best-rate-photo{
    height: 268px;
    width: 188px;
    
}
#all-anime-photo{
    height: 268px;
    width: 188px;
}
main footer div{
    display: block;
    flex-direction: column;
    background-color :#76008A;
    color: white
}
