section,
html{
    background-color:#131313;
}

body{
    margin-top: 0;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #222;
    color: #76008A;
}

.container{
    width: 80%;
}

header{
    background-color: black;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.menu{
    height: 20px;
    width: 20px;
    background-color:#76008A;
    padding: 5px;
    float: left;
}

nav{
    float: right;  
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 100px;
    padding-top: 5px;
}

.panel div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upcoming-premiere h2{
    text-align: center;
    flex: auto;
}
#upcoming-premiere-photo{
    height: 268px;
    width: 188px;
}

#best-rate-photo{
    height: 268px;
    width: 188px;
}

#best-isekai-photo{
    flex: auto;
    height: 268px;
    width: 188px;
}

main footer div{
    display: block;
    flex-direction: column;
    background-color :#76008A;
    color: white
}
