html
{
    background-color:#000000;
}
body
{
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #222;
    color: #76008A;
    font-family: 'Inter', Sans-serif;
    font-family: 'Lato', Sans-serif;
    font-family: 'Noto Sans', Sans-serif;
}
.top-bar
{
    background: linear-gradient(35deg, #b3127dd7,#5e0b85,rgb(90, 4, 160),#0d1b99); ;
    color: black;
    display:flex;
    justify-content: space-between
    
}
.top-bar-menu
{
    display: flex;
    align-items: center;
}
.menu-button
{
    font-family: 'Inter', Sans-serif;
    text-decoration: none;
    color: black;
    border: 2px solid #340913;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    font-weight: bold;
    display: inline-block;
    background-color: #9F76E7;
}
.menu-button:hover
{
    background-color: #C3A9EF;
    color: black;
}
.main-menu-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    margin: 5px;
    padding: 10px;
    background-color: #9F76E7;
    border: 2px solid #340913;
    border-radius: 10px;
}
.main-menu-button:hover
{
    background-color: #C3A9EF;
}
#menu-icon
{
    height: 35px;
    width: 35px;
}
.top-bar-user
{
    display: flex;
    align-items: center;
}
.search
{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-size: 15px;
    border: 2px solid #340913;
    overflow: hidden;
    background-color: #9F76E7;
    background-image: url(main-page-photos/search-white.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
}
.search:hover
{
    background-color: #C3A9EF;
}
.search:focus
{
    width: 180px;
    cursor: text;
    font-weight: bold;
    padding-left: 40px;
    color: black;
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    background: url(main-page-photos/search-white.svg)no-repeat;
    background-color: #C3A9EF;
    background-size: 22px;
    background-position: 15px 50%;

}
.logo
{
    display:flex;
    justify-content: space-between;
    height: 241px;
    background-image: url(main-page-photos/header.png);
}
strong
{
    font-size: 50px;
    color: #9F76E7;
}
.border-gradient
{
    margin-top: 100px;
    margin-left: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
    background: linear-gradient(35deg, #5308cc,#760673,rgb(85, 5, 138),#550d99); 
    border-radius: 20px;   
}
.main-title
{
    background-image: url(main-page-photos/header.png);
    text-align: center;
    border-radius: 20px;
    width: 200px;
}
#logo-img
{
    margin-right: 330px;
}
.box-container
{
    padding: 0px 5px 5px
}

.box
{
    color: #eceaec;
    border-bottom: 2px solid #525252;
    padding: 0;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 15px;
}
.best-rate-row
{
    height: 192px;
    width:max-content;
}
#best-rate-photo
{
    display: flex;
}
.season-tile
{
    display: block;
    height: 192px;
    width: 135px;
    background-repeat: no-repeat;
    background-size: 135px 192px;
    margin: 0 3px;
    position: relative;  
}
#tile-cover-a
{
    background-image: url(main-page-photos/berserk.jpg);
}
#tile-cover-b
{
    background-image: url(main-page-photos/full-metal-alchemist.jpg);
}
#tile-cover-c
{
    background-image: url(main-page-photos/attack-on-titan.jpg);
}
#tile-cover-d
{
    background-image: url(main-page-photos/demon-slayer.jpg);
}
.tile-title
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    padding: 5px;
    background-color: rgba(0,0,0,.76);
    color: white;
    text-align: center;
    text-transform: capitalize;
    line-height: 185px;
    vertical-align: middle;
    
}
.season-tile:hover .tile-title
{
    background-color: rgba(0,0,0,.76);
    visibility:visible;
}
.tile-title span
{
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px
}
.row img
{
    width: 135px;
    height: 192px;
}
span
{
    background-color: #222;
    padding-left: 15px;
    padding-right: 5px;
    font-family:  'Inter', Sans-serif;

}
#bottom-banner
{
    display: flex;
    justify-content: space-between;
    background-color :#76008A;
    

}
.bottom-container
{
    margin: 5px 30px 50px 30px;
    background-color :#76008A;
    color: #eceaec;
    width: 400px;
}
h3
{
    border-bottom: 2px solid #222;
    line-height: 15px;
    margin-bottom: 15px;
}
h3 span
{
    background-color:#76008A;
}
#info li:before
{
    content: "\261B"
}
#achievements li:before
{
    content: "\1F3C6"
}
li
{
    list-style: none;
    margin: 5px;
    font-family: 'Inter', Sans-serif;
    font-weight: bold;
}
